{% extends 'AdminBundle::layout.html.twig' %}
{% macro taxonomi(taxonomies,entity) %}
{% spaceless %}
    {% for tax in taxonomies %}
        <option {% for test in entity.taxonomies %}
                                            {% if tax.id== test.id %}selected="true"{%endif%}
                                        {% endfor %} value="{{ tax.id }}">{{ tax.title }}</option>
        {{ _self.taxonomi(tax.children) }}
    {% endfor %}
{% endspaceless %}
{% endmacro %}

{% block content %}
        {% if form_errors(form) %}
        <div class="alert">
            {{ form_errors(form) }}
        </div>
        {% endif %}
<form action="{{ path('product_update',{'id': entity.id}) }}" method="post" class="form-horizontal">
    {{ form_widget(form._token) }} 
    <legend>Product Edit </legend>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
            <li><a href="#tab2" data-toggle="tab">Options</a></li>
            <li><a href="#tab3" data-toggle="tab">Attribute</a></li>
            <li><a href="#tab4" data-toggle="tab">Taxonomies</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="control-group">
                    {{ form_label(form.sku) }}
                    <div class="controls">
                        {{ form_widget(form.sku) }}
                    </div>
                </div>
                 <div class="control-group">
                    {{ form_label(form.name) }}
                    <div class="controls">
                        {{ form_widget(form.name) }}
                    </div>
                </div>                   
                <div class="control-group">
                    {{ form_label(form.description) }}
                    <div class="controls">
                        {{ form_widget(form.description) }}
                    </div>
                </div>                    
                <div class="control-group">
                    {{ form_label(form.permalink) }}
                    <div class="controls">
                        {{ form_widget(form.permalink) }}
                    </div>
                </div>                    
                <div class="control-group">
                    {{ form_label(form.avaibleOn) }}
                    <div class="controls">
                        {{ form_widget(form.avaibleOn) }}
                    </div>
                </div>                    
                <div class="control-group">
                    {{ form_label(form.price) }}
                    <div class="controls">
                        {{ form_widget(form.price) }}
                    </div>
                </div>                          
                <div class="control-group">
                    {{ form_label(form.stock) }}
                    <div class="controls">
                        {{ form_widget(form.stock) }}
                    </div>
                </div>                          
                <div class="control-group">
                    {{ form_label(form.shippingCategory) }}
                    <div class="controls">
                        {{ form_widget(form.shippingCategory) }}
                    </div>
                </div>                          
                <div class="control-group">
                    {{ form_label(form.taxationCategory) }}
                    <div class="controls">
                    {{ form_widget(form.taxationCategory) }}
                    </div>
                </div>                          
            </div>
                <div class="tab-pane" id="tab2">
                    <div class="control-group">
                        {{ form_label(form.variantMode) }}
                        <div class="controls">
                        {{ form_widget(form.variantMode) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.options) }}
                        <div class="controls">
                        {{ form_widget(form.options) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="control-group">
                        <label class="control-label">Attribute</label>
                        <div class="controls">
                            <ul class="unstyled child" data-prototype="{{ form_widget(form.attribute.vars.prototype)|e }}">
                                {% for val in form.attribute %}
                                    <li style="margin-bottom: 5px;">{{ form_widget(val.attribute) }} : {{ form_widget(val.value) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane" id="tab4">
                    {% for tax in taxonomies %}
                    <div class="control-group">
                        <label class="control-label">{{ tax.title }}</label>
                        <div class="controls">
                            <select name="taxonomies[]" class="chosen" multiple="true">
                                {% for sub in tax.children %}
                                    <option {% for test in entity.taxonomies %}
                                            {% if sub.id== test.id %}selected="true"{%endif%}
                                        {% endfor %} value="{{ sub.id }}">{{ sub.title }}</option>
                                    {{ _self.taxonomi(sub.children,entity) }}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>

                <div class="control-group">
                    <div class="form-actions">
                        <div class="controls">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a href="{{ path('product') }}" class="btn">
                                    <i class="icon-circle-arrow-left"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                                        <div class="pull-right">
                                    <form method="post" action="{{ path('product_delete',{'id':entity.id }) }}">
                                    {{ form_widget(delete_form) }}
                                            <button type="submit" class="btn btn-danger">
                                                <i class="icon-trash icon-white"></i> Delete
                                            </button>
                                    </form>
                                </div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function(){
        $('.chosen').chosen({allow_single_deselect:true});
    });
</script>
<script>
// Get the div that holds the collection of tags
var collectionHolder = $('ul.child');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link btn btn-success" style="margin-top:10px">Add a Value</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // add a delete link to all of the existing tag form li elements
    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
    
});
function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
    $('.chosen').chosen({allow_single_deselect:true});
}
function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#" class="btn btn-danger btn-mini">X</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

</script>
{% endblock %}