{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Shipping Category Edit</h1>
</div>
<form action="{{ path('shippingcategory_update', { 'id': entity.id }) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form,{'form_type': 'horizontal'}) }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Update</button>
    </div>
  </div>
</form>
<div class="btn-group pull-left">
    <a class="btn" href="{{ path('shippingcategory') }}">
        <i class="icon-circle-arrow-left"></i> Back
    </a>
</div>

<form action="{{ path('shippingcategory_delete', { 'id': entity.id }) }}" method="post" class="pull-right">
    {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-white icon-trash"></i> Delete</button>
</form>

{% endblock %}